* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #E0E0DA;
  font-family: Italiana;
}

nav{
  position:absolute;
  width: 100%;
  top:0px;
  height: 60px;
  opacity: 0.7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-solid {
  margin-left: 25px;
}

.image {
  padding-left: 100px;
}

.location-description{
  padding-left: 20px;
}


.section1{
  height: 100vh;
  width: 100%;
  display: flex;

}

#image {
  margin-top: 75px;
  border-radius: 10px;
  border: solid white 2px;
}

h1 {
display: flex;
justify-content: center;
}

#locationName{
text-align: center;
margin-top: 60px;
letter-spacing: .5em;
}

#locationsDescription {
font-family: 'Times New Roman', Times, serif;
line-height: 3em;
padding-left: 3em;
word-spacing: 5px;
}

.section2{
text-align: center;
display: flex;
justify-content: center;
gap: 75px;
}
.card{
border-radius: 10px;
}
#activity1{
  
}

.section3{
text-align: center;
display: flex;
justify-content: center;
gap: 75px;
}
.section4{
text-align: center;
display: flex;
justify-content: center;
gap: 75px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -4px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }