* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body,html {
    /* width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center; */
    background-color: #C3C49E;
  }
  nav{
    position:absolute;
    width: 100%;
    top:0px;
    height: 60px;
    background-color: #808080;
    opacity: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .fa-solid {
    margin-left: 25px;
  }

  .image {
    padding-left: 100px;
  }
  .location-description{
    padding-left: 20px;
  }
  section {
    height: 100vh;
    width: 100%;
    display: flex;

  }
  .section2{
    height: 75vh;
    width: 100%;
    display: flex;
  }

  #image {
    margin-top: 75px;
  }


h1 {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
}
=======
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

.wrapper{
	display: flex;
	width: 90%;
	justify-content: space-around;
}

.card{
	width: 280px;
	height: 360px;
	border-radius: 15px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
}
	card:hover{
		transform: translateY(20px);
}

card:before {
  opacity: 1;
}

.info{
  opacity: 1;
  transform: translateY(0px);
}
info:before{
content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
border-radius: 15px;
background: rgba(black, 0.6);
z-index: 2;
transition: 0.5s;
opacity: 0;
}

img{
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
border-radius: 15px;
}

.info{
position: relative;
z-index: 3;
color: white;
opacity: 0;
transform: translateY(30px);
transition: 0.5s;
}

h1{
  margin: 0px;
}

p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

button{
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
  button:hover{
    background: dodgerblue;
    color: white;
}
>>>>>>> 386cd30ab4cd106f0cbea53459c50d50c5f5a965
