* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #E0E0DA;
  font-family: Italiana;
}
#location{
  height: 100vh;
}

.navbar-nav{
  border: solid 1px black;
}

#homeBotton:hover{
  background-color: black;
  color: white;

}
#searchButton:hover{
  background-color: black !important;
  border-color: black !important;

}
.btn {
  border-radius: 0;
}
.btn-outline-success {
  color: black;
  border-color: black;
}

#imagebox{
  width: 75%;
  height: 80%;
  border: solid;
  margin-left: 30px;

}
#image{
  width: 100%;
  height: 100%;
}
#location{
  margin-top: 3%;
  display: flex;
}
#locationName{
  width: 100%;
  text-align: center;
}
#locationDescription{
  font-size: 15px;
  line-height: 45px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.img-fluid{
  height: 350px;
  width: 500px;
}
.card-body {
  height: 150px;
}