* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Italiana;
    color: white;
  }

  body{
    background-image: url('https://images.pexels.com/photos/415604/pexels-photo-415604.jpeg?auto=compress&cs=tinysrgb&w=1500');
  }
  nav{
    position: fixed;
    width: 100%;
    top: 20px;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }

  section {
    height: 90vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav > * {
    padding: 0 50px;
  }

  .popular-destination{
    font-size: 30px;
  }

  button{
    margin-right: 50px;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
  }

  button:hover {
    background-color: white;
    color: black;
  }

  .title {
    font-size: 75px;
  }

  @media (max-width: 576px){
    h2{
      height: 1rem;
    }
  }